<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Discount Card WebApp">
    <meta name="author" content="Alexia Haralambous">
    <!-- BOOTSTRAP STYLES-->
    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <title>Synolic International Discount Card</title>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Synolic International </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_account' %}">My Account</a>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'become_member' %}">Get Your Card</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'become_partner' %}">Become Partner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{%block header %}  {% endblock %}
{%block body_block %} {% endblock %}
<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!--
<div class="row body_background">
    <!-- Logo row
    <div class="row logo_background">
        <div class="col-xs-3 col-sm-3 col-lg-2"></div>
        <div class="col-xs-6 col-sm-6 col-lg-8">
            <div class="row">
                    <img src="../../static/img/Logo_transp.PNG" class="Logo_Image">
                    {% if user.is_authenticated %}
                        <div class="login">
                            <a href="{% url 'logout' %}" class="login">Sign Out</a>     <a href="{% url 'user_account' %}" class="login">My Account</a>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="login">Sign In</a>
                    {% endif %}
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-2"></div>
    </div>
    <!-- Navigation Bar row
    <div class="row nav_bar_background">
        <div class="col-xs-4 col-sm-4 col-lg-2"></div>
        <div class="col-xs-4 col-sm-4 col-lg-8">
            <div class="row " >
                    <div class="btn-group">
                        <a href="{% url 'index' %}" class="button">Home</a>
                        <a href="{% url 'partners' %}" class="button">Partners</a>
                        <a href="{% url 'become_member' %}" class="button">Get Your Card</a>
                        <a href="{% url 'become_partner' %}" class="button">Become A Partner</a>
                        <a href="{% url 'faq' %}" class="button">FAQ</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-lg-2"></div>
    </div>
    <!-- Main Body row
    <div class="row body_background">
        <div class="col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-xs-6 col-sm-6 col-lg-6">
            <br>

        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3"></div>
    </div>
    <!-- Footer row
    <div class="row nav_bar_background">
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-lg-8">
            Footer
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2"></div>
    </div>
</div> -->

<!-- Bootstrap core JavaScript -->
<script src= "{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>