{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BOOTSTRAP STYLES-->
    <link href=" {% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />

    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <title>Synolic International Discount Card</title>
</head>
<body>
<div class="row body_background">
    <!-- Logo row -->
    <div class="row logo_background">
        <div class="col-md-2 "></div>
        <div class="col-md-8 ">
            <div class="row">
                <img src="../../static/img/Logo_transp.PNG" class="Logo_Image">
            </div>
        </div>
        <div class="col-md-2 "></div>
    </div>
    <!-- Navigation Bar row -->
    <div class="row nav_bar_background">
        <div class="col-md-2 "></div>
        <div class="col-md-8 ">
            <div class="row " >
                <div class="col-md-1"></div>
                <div class="col-md-10 justify-content-center">
                    <div class="btn-group">
                        <a href="{% url 'partners' %}" class="button">Partners</a>
                        <a href="{% url 'become_member' %}" class="button">Get Your Card</a>
                        <a href="{% url 'become_partner' %}" class="button">Become A Partner</a>
                        <a href="{% url 'faq' %}" class="button">FAQ</a>

                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Main Body row -->
    <div class="row body_background">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {%block body_block %} Body Block {% endblock %}
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Footer row -->
    <div class="row nav_bar_background">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            Footer
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



</body>
</html>