{% extends 'discountCard/base.html' %}
{% load static %}
{% load bootstrap %}

{% block header %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Get Your Own Card Now!</h1>
        </div>

    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>

</header>

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-lg-4">    </div>
            <div class="col-xs-8 col-sm-8 col-lg-4">
                <hr><h5>Please Log Out of your account to order more cards.</h5><hr>
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-4">    </div>
        </div>


    {% else %}

        <div class="row">
            <div class="col-xs-2 col-sm-2 col-lg-4">    </div>
            <div class="col-xs-8 col-sm-8 col-lg-4">
                <br>
                {% if registered %}
                <h4 style="color:#000">  Registration Complete!</h4><br><br>
                {% else %}
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-lg-1"></div>
                    <div class="col-xs-8 col-sm-8 col-lg-10 justify-content-center">
                        <form method="POST" class="profileRegisterForm" autocomplete="off" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ user_form|bootstrap }}


                            <button type="submit" name="submitBtn" class="save btn btn-default">Proceed To Payment</button>
                        </form>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-lg-4"></div>
                </div>


                <br><br>
                {% endif %}
            </div>
            <div class="col-xs-2 col-sm-2 col-lg-3">    </div>

        </div>
    {% endif %}
{% endblock %}
