{% extends 'discountCard/base.html' %}
{% load static %}
{% load bootstrap %}

{%block body_block %}

<br>
{% if registered %}
    <h4 style="color:#000">  Registration Complete!</h4><br><br>
{% else %}
    <h4 style="color:#000">  Order Your Synolic International Discount Card!</h4><br><br>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-lg-1"></div>
        <div class="col-xs-10 col-sm-10 col-lg-10 justify-content-center">
            <form method="POST" class="profileRegisterForm" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|bootstrap }}
                <button type="submit" name="submitBtn" class="save btn btn-default">Save</button>
            </form>
        </div>
        <div class="col-xs-1 col-sm-1 col-lg-1"></div>
    </div>


    <br><br>
{% endif %}

{% endblock %}
