{% extends 'discountCard/base.html' %}
{% load static %}
{% load bootstrap %}

{% block header %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Get Your Own Card Now!</h1>
        </div>

    </div>


</header>
<section>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-lg-4">    </div>
        <div class="col-xs-8 col-sm-8 col-lg-4">
            <hr><h5>You are now registered.</h5>
            <h5>Please enter your card details to register your card!</h5><hr>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-4">    </div>
    </div>

</section>

<section>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-lg-4">    </div>
        <div class="col-xs-8 col-sm-8 col-lg-4">

        </div>
        <div class="col-xs-2 col-sm-2 col-lg-4">    </div>
    </div>

</section>


{% endblock %}

