{% extends 'discountCard/base.html' %}
{% load static %}
{% load bootstrap %}

{% block header %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Welcome {{user.username}} !</h1>
        </div>

    </div>


</header>

<div class="row">
    <div class="col-xs-1 col-sm-2 col-lg-3">    </div>
    <div class="col-xs-10 col-sm-8 col-lg-6">
        <div class="body_text">


            <hr><h5>Account Details:</h5><hr>
            <div class="table-responsive">
                <table class="table ">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>Full Name</td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{user.profile.phone}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{user.profile.address}} {{user.profile.city}} {{user.profile.country}}</td>
                        </tr>
                        <tr>
                            <td>Account Type</td>
                            <td>{{user.profile.account_type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            {% if hascard %}
                <hr><h5>Your Card:</h5><hr>
                <div class="table-responsive">
                    <table class="table ">
                        <tbody>
                            <tr>
                                <td>Card Number</td>
                                <td>{{card.card_number}}</td>
                            </tr>
                            <tr>
                                <td>Card Type</td>
                                <td>{{card.card_type}}</td>
                            </tr>
                            <tr>
                                <td>Date Joined</td>
                                <td>{{card.date_joined}}</td>
                            </tr>
                            <tr>
                                <td>Expiration Date</td>
                                {% if expired %}
                                    <td><a class="btn btn-danger" href="{% url 'renew' %}">Renew</a></td>
                                {% else %}
                                    <td>{{renewal_date}}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <a href="{% url 'choose_card' %}" class="btn btn-primary rounded-pill mt-5">Buy Card</a>
                <a href="{% url 'register_card' %}" class="btn btn-primary rounded-pill mt-5">Register Card</a>

            {% endif %}

        </div><br>
    </div>
    <div class="col-xs-1 col-sm-2 col-lg-3">    </div>
</div>



{% endblock %}

